# Ignore build files
/build/
*.log
*.zip

# Ignore composer vendor
vendor/

# Ignore Node.js modules and dependencies
node_modules/
package-lock.json

# Ignore development files
*.DS_Store
*.idea/
.vscode/